{
    "appname": "com.sky.platform-test-app",
    "configuration": {
        "options": [
            {"key": "enableWebInspector", "value": "true"},
            {"key": "enableFirebolt", "value": "true"},
            {"key": "userScripts", "value": "ftl-2.0.1.js"},
            {"key": "enableNonCompositedWebGL", "value": "true"},
            {"key": "discardDuplicateDeeplinks", "value": "false"},
            {"key": "disableWebSecurity", "value": "true"}
        ],
        "envs": [
            {"key": "MSE_MAX_BUFFER_SIZE", "value": "v:45m,a:6m"},
            {"key": "WRT_CHUNK_DEMUX_VIDEO_MEMORY_MAX_KB", "value": "51200"},
            {"key": "WRT_CHUNK_DEMUX_AUDIO_MEMORY_MAX_KB", "value": "14848"},
            {"key": "WRT_SUPPORTS_60FPS", "value": "true"},
            {"key": "WRT_UHD_OUTPUT_ENABLED", "value": "true"},
            {"key": "WRT_SUPPORTS_UHD_60FPS", "value": "true"},
            {"key": "WRT_ENABLE_WEBGL", "value": "true"},
            {"key": "WEBKIT_LEGACY_INSPECTOR_SERVER", "value": "0.0.0.0:22222"},
            {"key": "ENABLE_AAMP", "value": "TRUE"}
        ]
    }
}
